{% load static %}
{% static "image" as baseUrl %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/7c81212c94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'CSS/Home/style.css'%}">
  <title>Doctor'sPlus</title>
  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropbtn {
      background-color: #1C3961;
      color: white;
      /* padding: 8px 16px; */
      font-size: 20px;
      border: none;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #1C3961;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
      color: white;
      padding: 12px 16px;

      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      color: #1C3961;
      display: block;
    }

    .new_background_section {
      height: 100vh;
      background-image: url('{% static "Image/Nav1.png" %}');
      background-size: cover;
      background-position: center;
      /* Additional styles as needed */
    }

    .hedding {
      margin-top: 4%;
      padding-left: 16%;
    }

    .help_part {
      padding-left: 10%;

    }
  </style>
</head>

<body>
  <div class="cover_page">
    <div class="nav1" style="background-color: rgb(250, 56, 56); border-radius: 4px;">
      <div class="part1">
        <div class="email">
          <ul>
            <li>
              <a href="mailto:fahimbhuiyan05@gmail.com" itemprop="email"><i class="fas fa-envelope"></i>
                fahimbhuiyan05@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="part2">
        <ul>
          <li><a href=""><i class="fab fa-viber"></i></a></li>
          <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fab fa-skype"></i></a></li>
        </ul>
      </div>
      <div class="part3">
        {% if user.is_authenticated %}
        <i class="fas fa-user" style="color:white">
        </i>
        {% if user.patient %}
        <a href="{% url 'patient-dashboard' %}">{{user.username |upper}}</a>
        {% elif user.doctor %}
        <a href="{% url 'doctor-dashboard' %}">{{user.username |upper}}</a>
        {%else%}
        <a href="{% url 'admin_dashboard' %}">{{user.username |upper}}</a>
        {% endif %}

        &nbsp;
        <i class="fas fa-sign-out-alt" style="color:white"></i><a href="logout">LOGOUT</a>
        {%else%}
        <i class="fas fa-sign-in-alt" style="color:white"></i>
        <div class="dropdown">
          <button class="dropbtn">Login</button>
          <div class="dropdown-content">
            <a href="{% url 'patientlogin' %}">Patient</a>
            <a href="{% url 'doctorlogin' %}">Doctor</a>
            <a href="{% url 'adminlogin' %}">Admin</a>
          </div>
        </div>&nbsp;
        <i class="fas fa-user-plus" style="color:white"></i>
        <div class="dropdown">
          <button class="dropbtn">Register</button>
          <div class="dropdown-content">
            <a href="{% url 'patientsignup' %}">Patient</a>
            <a href="{% url 'doctorsignup' %}">Doctor</a>
          </div>
        </div>
        {%endif%}
      </div>
    </div>


    <div class="nav2">
      <div class="title">
        <a href="home">Doctor'SPlus </a>
      </div>
      <div class="link">
        <ul>
          <li><a href="{%url 'search_results'%}">Doctor</a></li>
          <li><a href="#">Dagnostic Svices</a></li>
          <li><a href="{% url 'bloodbank' %}">Blood Bank</a></li>
        </ul>
      </div>
    </div>

    <div class="intro" style="margin-top: 13%; margin-bottom: 8%; text-align: center; ">
      <h1 style=" font-family: Inconsolata; color: #22A6B3; font-size: 64px;">Complete Health Solution</h1>
      <p style="font-size: 30px; font-family: Inconsolata;"> Consulting a doctor, ordering diagnostics, get
        blood & <br> organ and improve your health anytime anywhere with us.....</p>
    </div>
  </div>

  <div class="new_background_section ">
    <div class="container">
      <div class="row " style="padding-left:08%;">

        <div class="col-md-3">
          <a href="" style="text-decoration: none; color: black;"></a>
          <div class="card mb-4"
            style="border-radius: 10px; border: none; opacity: 0.8; background-color: rgb(218, 224, 222); text-align: center;">
            <i class="fa-solid fa-video mt-2 mb-2" style="color: black; font-size: 40px;"></i>
            <h4 style="font-family:Inconsolata; opacity: 1;">Video Conferance</h4>
            <p>
              Start video consultation now or schedule a future appointment
            </p>
          </div>
          </a>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3">
          <a href="" style="text-decoration: none; color: black;">

            <div class="card mb-4"
              style="border-radius: 10px; border: none; opacity: 0.8; background-color: rgb(218, 224, 222); text-align: center;">
              <i class="fa-solid fa-stethoscope mt-2 mb-2" style="color: red; font-size: 40px;"></i>
              <h4 style="font-family:Inconsolata; opacity: 1;">Diagnostic</h4>
              <p>
                Get tested in few hours & get report in website within 24 hours
              </p>
            </div>
          </a>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <a href="" style="text-decoration: none; color: black;">

            <div class="card mb-4"
              style="border-radius: 10px; border: none; opacity: 0.8; background-color: rgb(218, 224, 222); text-align: center;">
              <i class="fas fa-tint mt-2 mb-2" style="color: red; font-size: 40px;"></i>
              <h4 style="font-family:Inconsolata; opacity: 1;">Donation Bank </h4>
              <p>
                Donate and get Blood & Organ from Doctor’sPlus Donation Bank
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="hedding">
        <h4>GET MEDICAL HELP</h4>
        <h6 style="padding-left: 4%;">Just in few taps!</h6>
      </div>

      <div class="help_part">
        <div class="row">
          <div class="col-md-4">
            <img src="{%static 'Image/face.png'%}"
              style="border: 1px solid none; border-radius: 50%; height: 400px; width: 400px;" alt="" srcset="">
          </div>
          <div class="col-md-4 mt-5" style="text-align: center;">
            <h4>Easy to use</h4>
            <p>Get the best user experience on Doctor’sPlus. Search for a doctor and get an instant consultation.</p>
            <p>You can join the online queue immediately, while you can continue doing other tasks at home or office.
            </p>
          </div>
          <div class="col-md-4 mt-5" style="text-align: center;">
            <h4>AnyTime</h4>
            <p>Talk to a doctor within minutes. Our qualified network of doctors is available 24/7. You can get a
              consultation and prescription whenever you need. Patients and doctors can keep their previous consultation
              history and view online prescriptions.</p>
          </div>
        </div>
      </div>


    </div>



  </div>

  <div class="new" style="margin-top: 120px; padding-left: 16%;">
    <div class="container">
      <h1 style="color: #0D2373;">Why Use Doctor’sPlus</h1>
      <div class="row">

      </div>
      <ol>
        <h5>
          <li class="mt-5">
            Access any GP or specialist doctor you need <br>
            at anytime from anywhere</li>
        </h5>
        <h5>
          <li class="mt-5">
            Access to online prescriptions, medicine delivery, <br>
            and tests and diagnostics
          </li>
        </h5>
        <h5>
          <li class="mt-5">
            Access to Blood Donate Bank
          </li>
        </h5>
      </ol>

    </div>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-qh8XGpRzvR4u4JfzgzZq3SqW+Qc7Sd5b5GL5lZt0XhIQFmHbSr/nSLep2MN0b8uV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha384-GnI/XM6GgEdvUNPd9pJxlK6ZLb8nTIA6ZJqx6sAuUQsG0kTlZo6pDlT1EJp1KJo6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
  integrity="sha512-m+U43rCfYauEXWlRO8RvF63z4Z4GllZjdbWyq3wv2Q1EYZSj+dtMyt9a8JcwsZb/kF/yH35+rQWVKu90wVhJdA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>