{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Page Not Found | Doctor'sPlus</title>
  <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Oops! The page you're looking for cannot be found.</h1>
    <p>Please check the URL and try again, or use the navigation menu above to find what you're looking for.</p>
    <h3>Please Login!!!!!!</h3>
    <a href="{% url 'home' %}">Go to the homepage</a>
  </div>
  {% include "Home/footer.html" %}
</body>

</html>