{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Page Not Found | Doctor'sPlus</title>
  <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/404.css' %}">

</head>

<body>
  <div class="container">
    <h1>Oops! The page you're looking for cannot be found.</h1>
    <p>Please check the URL and try again, or use the navigation menu above to find what you're looking for.</p>
  </div>
  {% include "Home/footer.html" %}
</body>

</html>