
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

    <title>About | Doctor'sPlus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@300&family=Kanit:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    {% if user.patient %}
    {% include "patient/sidenav_bar.html" %}
    {% elif user.doctor %}
    {% include "doctor/sidenav_bar.html" %}
    {%else%}
    {% include "admin/side_nav_bar.html" %}
    {% endif %}
    
<div class="container">
    <div class="container pl-5">

 
<header class="text-white" style="background-color: red; border-radius: 5px;">
    <div class="container text-center">
      <h1 style="font-size: 40px; font-family: 'Darumadrop One', cursive;">Doctor'sPlus</h1>
      <p class="lead" style="font-size: 24px; font-family: 'Kanit', sans-serif;">Bringing Healthcare to Your Doorstep</p>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p style="font-size: 20px;">Doctor'sPlus is a web-based platform that provides online medical consultations, diagnostic services at your doorstep, and information on blood and organ donations. With Doctor'sPlus, you can easily access healthcare services, regardless of your location.
        </p>

        <h4>Features</h4>
        <p>Doctor'sPlus offers a wide range of features to help patients manage their healthcare needs. Some of our key features include:</p>
        <ul>
          <li>Online Medical Consultations</li>
          <li>Diagnostic Services At Home</li>
          <li>Blood Donations Bank</li>
        </ul>

        <h>System Security</h>
        <p>At Doctor'sPlus, we take the security of our patients' information very seriously. Our system is designed with the highest level of security in mind, including:</p>
        <ul>
          <li>Encryption of all data transmitted over the internet</li>
          <li>Strict access controls to ensure only authorized personnel can access patient information</li>
          <li>Regular security audits to identify and address potential vulnerabilities</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include "Home/footer.html" %}
</div>
</div>
   
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>