{% extends 'patient/base.html' %}
{% load static %}
{% block title %} Contact Successful | Patient | Doctor'sPlus {% endblock %}
<link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

{% block content %}
  <div class="container mt-5" style="border-radius: 5px;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="text-center">Thank you for contacting us!</h2>
          </div>
          <div class="card-body">
            <p>We have received your message and will get back to you as soon as possible.</p>
            <p>Thank you for choosing our Service and have a great day!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "Home/footer.html" %}
  <script>
    setTimeout(function() {
      window.location.href = "{% url 'patient-dashboard' %}";
    }, 5000);  
  </script>
{% endblock %}
