{% load static %}
{% if request.user.patient %}
<title>Dashboard | Patient | Doctor'sPlus</title>
<style>
    body::after {
  content: "";
  background-image: url('{% static "Image/Background.png" %}');
  opacity: 0.1; /* Set the opacity value between 0 and 1 */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
</style>

{% include "patient/sidenav_bar.html" %}
<footer class="py-2">
    <div class="small text-center text-muted">Doctor'sPlus &copy; 2023</div>
</footer>
{% else %}
{% include "patient/404.html" %}
{% endif %}