{% load static %}
{% if request.user.patient %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Doctor Search | Patient | Doctor'sPlus</title>
   <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

{% include "patient/sidenav_bar.html" %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mt-5">
                <h1 class="text-center mb-4">Find a Doctor</h1>
                <form method="get">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="{{ form.search_query.name }}"
                            placeholder="Enter doctor name or specialty">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% include "Home/footer.html" %}
</body>
</html>

{% else %}
{% include "patient/404.html" %}
{% endif %}