<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor'SPlus</title>
</head>
<body>
    <h1>Login Successful...................</h1>

{% if request.user.patient %}
<script>
    setTimeout(function () {
        window.location.href = "{% url 'profile' %}";
    }, 100);
</script>
{% elif request.user.doctor %}
<script>
    setTimeout(function () {
        window.location.href = "{% url 'docProfile' %}";
    }, 100);
</script>
{%else%}
<script>
    setTimeout(function () {
        window.location.href = "{% url 'admin_dashboard' %}";
    }, 100);
</script>
{% endif %}
<footer class="py-2">
    <div class="small text-center text-muted">Doctor'sPlus &copy; 2023</div>
</footer>
</body>
</html>