{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

    <script src="https://kit.fontawesome.com/7c81212c94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/doner_dashboard.css' %}">

    <title>Doner | Patient | Doctor'sPlu</title>
    <style>
       
    </style>
</head>
{% include "bloodbank/navbar.html" %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                            <i class="fa fa-user-plus xyz" style="color: #1e88e5;"></i>
                        </div><br>
                        <div>
                            Request Made <br>
                            {{requestmade}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                            <i class="fas fa-sync xyz" style="color:#efb000;"></i>
                        </div><br>
                        <div>
                            Pending Request <br>
                            {{requestpending}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                            <i class="fas fa-check-circle xyz" style="color: green;"></i>
                        </div><br>
                        <div>
                            Approved Request<br>
                            {{requestapproved}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                            <i class="fas fa-times-circle xyz" style="color: red;"></i>
                        </div><br>
                        <div>
                            Rejected Request <br>
                            {{requestrejected}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "Home/footer.html" %}
</body>

</html>