{% load static %}
{% static "Image" as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blood Bank</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
{% include "patient/sidenav_bar.html" %}
    <!-- Navigation Bar -->
    <div class="container mt-2">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: red;">
            <!-- Brand/Logo -->
            <a class="navbar-brand p-2" href="#">Blood Bank</a>

            <!-- Navbar links -->
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'create_donation_request' %}">Donor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Receiver</a>
                </li>
            </ul>
    </nav>
<img src="{% static 'Image/bloodbank.png'%}" alt="" srcset="" style="width:100%">
    <!-- Main Content -->
   
      
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>