{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/receiver_navbar.css' %}">

  <style>
   
  </style>
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <h1 class="title">Doctor'SPlus</h1>
      <ul class="nav-menu">
        <li class="nav-item"><a href="{% url 'patient-dashboard' %}">Dashboard</a></li>
        <li class="nav-item"><a href="{% url 'blood_receiver_dashboard'  %}">Receiver</a></li>
        <li class="nav-item"><a href="{% url 'receiver_request_create' %}">Request</a></li>
        <li class="nav-item"><a href="{% url 'receiver_request_list' %}">History</a></li>
        <li class="nav-item"><a href="{% url 'doner_dashboard' %}">Doner</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>