

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Doner Request</title>
</head>
<body>
    

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Donation Requests</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Doner Name</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Quantity (ml)</th>
                <th scope="col">Location </th>
                <th scope="col">Requested on</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for request in requests %}
              <tr>
                <td>{{ request.doner_name }}</td>
                <td>{{ request.blood_group }}</td>
                <td>{{ request.units_required }}</td>
                <td>{{request.location}}</td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.is_approved }}</td>

              </tr>
              {% empty %}
              <tr>
                <td colspan="6">No donation requests found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
