{% load static %}

<html>

<head>
    <title>Create Diagnostic</title>
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% include "admin/side_nav_bar.html" %}

<body>
    <div class="container">
        <h1 class="text-center mb-4">Create Diagnostic</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.test_name.id_for_label }}">Test Name:</label>
                {{ form.test_name }}
            </div>

            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">Price:</label>
                {{ form.price }}
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">Category:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <div class="text-center">
                <a href="{% url 'list' %}" class="btn btn-primary">List</a>
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
    {% include "Home/footer.html" %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
