{% extends 'patient/base.html' %}
{% load static %}
<link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Delete Diagnostic</h1>
    <p>Are you sure you want to delete the diagnostic "{{ diagnostic.test_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'detail' diagnostic.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% include "Home/footer.html" %}
{% endblock %}