{% extends 'patient/base.html' %}
{% load static %}
<link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h1 class="mb-0 text-center">{{ diagnostic.test_name }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Description:</h5>

                </div>
                <div class="col-md-8">
                    <p class="card-text">{{ diagnostic.description }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Category:</h5>

                </div>
                <div class="col-md-8">
                    <p class="card-text">{{ diagnostic.get_category_display }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Price:</h5>

                </div>
                <div class="col-md-8">
                    <p class="card-text">৳{{ diagnostic.price }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            
            {% if request.user.patient %}
            <a href="{% url 'diagnostic-list' %}" class="btn btn-primary">List</a>

            {% else %}
            <a href="{% url 'list' %}" class="btn btn-primary">List</a>
            <a href="{% url 'edit' diagnostic.pk %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete' diagnostic.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}

            


        </div>
    </div>
</div>
{% include "Home/footer.html" %}

{% endblock %}