{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <title>Details | Admin | Doctor'sPlus</title>
    <script src="https://kit.fontawesome.com/7c81212c94.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/diagnostic_details_admin.css' %}">

</head>

<body>
    {% include "admin/side_nav_bar.html" %}

    <div class="container">
        <h2 class="section-title">Diagnostic Details</h2>
        <div class="divider"></div>

        <table class="appointment-table">
            <tr>
                <th>Patient Name</th>
                <th>Doctor</th>
                <th>Fees</th>
                <th>Action</th>
            </tr>
            {% for order in orders%}
            <tr>
                <td>{{ order.patient_name }}</td>
                <td>{{ order.doctor }}</td>
                <td> ৳{{ order.payment_amount }}</td>
                <td><a href="{% url 'details_admin' order.pk %}" class="btn btn-primary">Details</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="no-appointments">No Test available.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% include "Home/footer.html" %}
</body>
</html>
