{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/order_success.css' %}">

  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Diagnostic Order List</title>
</head>
<body>
  
  <div class="container">
    <h1 class="mt-4 mb-4 text-center">Diagnostic Order List</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th>Test</th>
          <th>Category</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for test in ordered_tests %}
        <tr>
          <td>{{ test.test_name }}</td>
          <td>{{ test.category }}</td>
          <td class="text-right">৳{{ test.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <p class="text-align-right">Total Order Price: ৳{{ payment_amount }}</p>
    <a class="btn btn-primary d-block mx-auto" href="{% url 'process-payment-dia' %}">Make Payment</a>
  </div>

  <!-- Add Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% include "Home/footer.html" %}
</body>
</html>
