
{% load static %}
<html>

<head>
    <title>Diagnostic Order Details</title>
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 40px;
        }

        h1 {
            margin-bottom: 30px;
        }

        h4 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        table {
            margin-top: 20px;
        }

        th {
            font-weight: bold;
        }

        .btn-create-result {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
        }
    </style>
</head>
{% include "admin/side_nav_bar.html" %}

<body>
    <div class="container card-header " style="border-radius: 5px;">
        <h1 class="mt-4 mb-4 text-center ">Diagnostic Order Details</h1>
        <div class="card p-3 ">
        <h4>Doctor Information:</h4>
        <div class="row " >
            <div class="col-md-4">
                <div><strong>Name:</strong></div>
                <div><strong>Address:</strong></div>
            </div>
            <div class="col-md-8">
                <div>{{ order.doctor }}</div>
                <div>{{ order.Address }}</div>
            </div>
        </div>

        <h4>Patient Information:</h4>
        <div class="row">
            <div class="col-md-4">
                <div><strong>Name:</strong></div>
                <div><strong>Age:</strong></div>
                <div><strong>Gender:</strong></div>
                <div><strong>Email:</strong></div>
                <div><strong>Mobile:</strong></div>
            </div>
            <div class="col-md-8">
                <div>{{ order.patient_name }}</div>
                <div>{{ order.patient_age }}</div>
                <div>{{ order.get_patient_gender_display }}</div>
                <div>{{ order.patient_email }}</div>
                <div>{{ order.patient_mobile }}</div>
            </div>
        </div>

        <h4 class="text-center pt-2"> Test List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th class="text-right " style="padding-right: 5%;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for test in order.additional_tests.all %}
                <tr>
                    <td>{{ test.test_name }}</td>
                    <td>{{ test.category }}</td>
                    <td>{{ test.price }}</td>
                    <td class="text-right">
                        <a href="{% url 'create_result' order.pk %}" class="btn btn-primary btn-create-result">Create Result</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <h4>Payment Information:</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Payment Amount</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>৳{{ order.payment_amount }}</td>
                            <td>{% if order.payment_status %}Paid{% else %}Pending{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
