body {
    background: #F0F0F0;
}

.card-header {
    background-color: #2C3E50;
    color: #FFF;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 0;
    color: red;
}

.btn-primary {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-primary:hover {
    background-color: #34495E;
    border-color: #34495E;
}

.checkbox label {
    padding-left: 0;
}

.float-right {
    float: right;
}


.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    text-align: center;
}

.profile-info h5 {
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 5px;
}