.container {
    margin-top: 40px;
}

h1 {
    margin-bottom: 30px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

table {
    margin-top: 20px;
}

th {
    font-weight: bold;
}

.btn-create-result {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}