{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription | Doctor | Doctor'sPlus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .container {
            background: linear-gradient(#F5F5F5, #dbdbe2);
        }
    </style>
</head>

<body>
    <div class="container mt-3 mb-3 p-2" style="border-radius: 5px;">
        <h1 style="text-align: center;">Prescription Submitted Successfully</h1>
    </div>
</body>
</html>
