{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription | Doctor | Doctor'sPlus</title>
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/prescription_success.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-3 mb-3 p-2" style="border-radius: 5px;">
        <h1 style="text-align: center;">Prescription Submitted Successfully</h1>
    </div>
</body>
</html>
