{% load static %}
{% static "images" as baseUrl %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'CSS/patientregister.css'%}">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
            <h4 class="card-title mt-2">Patient Registration Form</h4>
          </header>
          <article class="card-body">
            <form method="POST" action="patientregister">
              {% csrf_token %}
              <div class="form-group">
                <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Email" name="email" required>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label for="phone">Mobile Number</label>
                <input type="text" class="form-control" placeholder="Mobile Number" name="phone" required>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                </div> <!-- form-group// -->
                <div class="form-group col-md-6">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                </div> <!-- form-group// -->
              </div> <!-- form-row// -->
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="********" name="password" required>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="********" name="confirm_password" required>
              </div> <!-- form-group// -->
              <div class="form-group">
                <button type="submit" value="Send" class="btn btn-primary btn-block"> Register </button>
                <div class="mt-2">
                  Already have an account? <a href="#">Login</a>
                </div>
              </div> <!-- form-group// -->
            </form>

          </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
      </div> <!-- col.//-->
    </div> <!-- row.//-->
  </div>
  <script>
    const passwordField = document.querySelector('input[name="password"]');
    const confirmPasswordField = document.querySelector('input[name="confirm_password"]');

    confirmPasswordField.addEventListener('input', () => {
      if (passwordField.value !== confirmPasswordField.value) {
        confirmPasswordField.setCustomValidity("Passwords don't match");
      } else {
        confirmPasswordField.setCustomValidity('');
      }
    });

  </script>
</body>

</html>